:root {

    --pirem: 3.14rem;
    --margincentrador: 0 auto;
    --pivh: 3.14vh;
    --pivw: 3.14vw;
    --lettersize: 1.5;
    --weighttitulos:600;
    --sizetitulos:2rem;
    --colorsobre: #ebf4ff;
    --colorblanco: #FFF;
    --colorfondo: #f4efef59;
    --colortitulos: #4d4a4a;
    --colorazulclaro: #dde8f7;

}

/*----fix issues-----*/
html{
    scroll-behavior: smooth;
}

.td{
    font-family: 'Raleway', sans-serif;
    width: 96%;
    background-color: var(--colorfondo);
    margin: var(--margincentrador);
}

ol ul li {
    list-style: none;

}

a {
    text-decoration: none;
}

/*----NavBar-----*/

.iabb{
    color: #1c5e00;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--pirem);
    padding-top: var(--pivh);
}

.enlaces-nav{
    display: flex;
    width: 44vw;
    justify-content: space-between;
}

.nav__item a {
    color: #000;
}

/* ----Titulo-Links---*/

.titulo {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: var(--pivh);
}
.foto__perfil{
    width: 18rem;
    border-radius: 15rem;
    margin: 0 3.14rem 3.14rem;
}

.titulo__container{
    width: 57vw;
}

.titulo__container p {
    text-align: justify;
    font-size: 1.4rem;
}

.hi{
    font-size: var(--pirem);
    font-weight: 700;
    color: #4d4a4a;
    margin-bottom: 23px;
}

.enlaces-container{
    display: flex;
    padding: var(--pirem);
    justify-content: space-around;
}

.enlaces-container img{
    width: var(--pirem);
}

/* ----Sobre mi---*/

.info {
    background-color: var(--colorazulclaro);
    padding: 3rem;
}

.info h2 {
    margin-bottom: 2rem;
    font-size: 1.75rem;
}

.info p {
    width: 70%;
    text-align: justify;
    line-height: 20px;
}

/* ----Skills, hobbies----*/

.skills, .hobbies{
    max-width: 70%;
    padding: 60px 0 0 0;
    text-align: center;
    margin: var(--margincentrador)
}

/* ----Titulos----*/

.skills h3, .hobbies h3, .formacion h3{
    margin-bottom: var(--pirem);
    font-size: var(--sizetitulos);
    font-weight: var(--weighttitulos);
    color: var(--colortitulos)
}

.skills__cards, .hobbies__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__box, .hobbies__box{
    margin-bottom: 1rem;
    background-color: var(--colorblanco);
    margin-right: 1rem;
    border-radius: 13px;
    box-shadow: 12px 9px 8px 0px rgba(0,0,0,0.08);
}
.skills__box-contenido, .hobbies__box ul{
    display: flex;
    width: 7rem;
    height: 8.75rem;
    flex-direction: column;
    justify-content: center;
}

.skill_img, .hobbies__img{
    width: var(--pirem);
}

/* ----formacion----*/

.formacion {
    max-width: 85%;
    padding: 60px 0 0 0;
    text-align: center;
    margin: var(--margincentrador)
}

.formacion__cards{
    background: var(--colorazulclaro);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.formaciones__box  ul{
    width: 18rem;
    height: 18rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.formaciones__box li {
    border-radius: 1rem;
}

.formaciones__box li span{
    font-weight: bold;
}

.formacion_titulo {
    background: var(--colorblanco);
    padding: 11px;
}

.formacion_img{
    width: 200px;
    height: 200px;
}

/*----Experiencia Laboral----*/

.experiencia {
    height: 90vh;
    padding: 60px 0 0 0;
    text-align: center;
}

.experiencia h3 {
    margin-bottom: var(--pirem);
    font-size: var(--sizetitulos);
    font-weight: var(--weighttitulos);
    color: var(--colortitulos);
}

.experiencia__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.experiencia__img {
    width: 20%;
}

/*----Contacto----*/
.contacto {
    padding: 1.57rem;
    background: aliceblue;
}

.contacto_container {
    display: flex;
    height: 33rem;
    justify-content: space-evenly;
    /* padding: 0px 7rem; */
}

.contacto img {
    /* height: 25rem; */
}

.contactoform__text {
    display: flex;
    flex-direction: column;
}

.contactoform__text h2{
    font-size: var(--pirem);
    margin: -3.14vh 0 3.14vh;
}

.contactoform__text h3{
    font-size: 1.57rem;
}

.contactoform__text h4 {
    margin: 3vh 0;
    font-size: 1.15rem;
}

.contactoform {
    display: flex;
    width: 80%;
    flex-direction: column;
    height: -webkit-fill-available;
    justify-content: space-between;
}

.contactoform__input{
    height: var(--pirem);
    border: none;
    border-radius: 10px;
}

.contactoform__textarea{
    resize: none;
    border: none;
    border-radius: 10px;
}

.contactoform__button{
    width: 10rem;
    height: 3.14rem;
    border: none;
    border-radius: 10px;
    background-color: #062ff8;
    color: #fff;
    margin-top: 2rem;
}

/*----footer----*/
.footer {
    padding: 2rem;
    text-align: center;
}